@model PagedList.IPagedList<Vag_Infotech.Models.Persons>
@using PagedList.Mvc;

@model IEnumerable<MVCCRUD.Employee>


<!DOCTYPE html>

<html>
<head>

    <meta name="viewport">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <title>Index</title>
    <script type="text/javascript">
        ShowPopup = function () {
            window.open('/Home/OpenPopup', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
        }
    </script>

</head>

<body>
    <div class="container">
        <h1>MVC CRUD Application</h1>
        <div class="table-1">

            <h2> @Html.ActionLink("Add Employee", "Create")</h2>
            <table>
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeFname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeLname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeMobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeSsn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeDateofbirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeAddress)
                        </th>
                        <th></th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-th="EmployeeFname">
                                @Html.DisplayFor(modelItem => item.EmployeeFname)
                            </td>
                            <td data-th="EmployeeLname">
                                @Html.DisplayFor(modelItem => item.EmployeeLname)
                            </td>
                            <td data-th="EmployeeMobile">
                                @Html.DisplayFor(modelItem => item.EmployeeMobile)
                            </td>
                            <td data-th="EmployeeEmail">
                                @Html.DisplayFor(modelItem => item.EmployeeEmail)
                            </td>
                            <td data-th="EmployeeSsn">
                                @Html.DisplayFor(modelItem => item.EmployeeSsn)
                            </td>
                            <td data-th="EmployeeDateofbirth">
                                @Html.DisplayFor(modelItem => item.EmployeeDateofbirth)
                            </td>
                            <td data-th="EmployeeAddress">
                                @Html.DisplayFor(modelItem => item.EmployeeAddress)
                            </td>
                            <td data-th="Action">
                                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) <br>
                                <input type="button" id="btnpopu" value="Details" onclick="ShowPopup();" />
                                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</body>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))



</html>
